#member_list
	#list_members
		- @members.each do |m|
			.members
				.member=link_to m.login
				.control=link_to_remote "revoke", :url => {:action => "revoke_member", :id => m.id, :repo_id => @repository.id }
	%a#toggle1{:href => "#"} Add another collaborator
	#toggle2
		- remote_form_for :user, :url => {:controller => "repositories", :action => "add_members"}, :html => {:method => :post} do |f|
			= f.text_field :login, {:id => "users"}
			= f.submit "Add", :disable_with => "Submiting"
			= f.hidden_field :repo, {:value => @repository.name}

:javascript
	$("#toggle2").hide();
	$("#toggle1").toggle(function(){
		$(this).html("Cancel adding");
	}, function() {
		$(this).html("Add another collaborator");
	});
	$("#toggle1").click(function(){
		$(this).next("#toggle2").slideToggle("fast");
	});
	$("#users").autocompleteArray(#{@auto_complete});