#container
  #sidebar
    .head
      %h1 
        my repositories
        = link_to 'new repo', new_repository_path
    %ul
      - @repositories.each do |r|
        %li.repo
          %strong= link_to r.name, content_path(@current_user.login, r.name, 'tree', 'master')
  #content
    .head
      %h1 latest updates
    #updates
