#content
  .banner_wrap
    .heading.blue
      %h1{:style => "display: inline"} My Repositories 
      %span.icon_link= link_to "#{image_tag('/images/plus2.png', :width => 15, :height => 15)} New Repo", new_repository_path
    .banner.white
      %ul
        - @repositories.each do |r|
          %li
            %h2= link_to r.name, tree_path(@current_user.login, r.name, 'master')
            %p.commit_dash= "Latest Commit"
  .bottom
#sidebar
  .teaser
    %p
      This page shows all your repositories and each of their latest commits.
    %p
      To get started.
    %p
      1. Add a new repo
    %p
      2. Push to the repo
    %p
      3. Use the service to manage the repository.