#content
  .banner_wrap
    .heading.blue
      %h1{:style => "display: inline"} My Repositories 
      %span.icon_link= link_to "#{image_tag('/images/plus2.png', :width => 15, :height => 15)} New Repo", new_repository_path
    .banner.white
      %ul
        - @repositories.each do |r|
          %li
            %h2= link_to r.name, tree_path(@current_user.login, r.name, 'master')
            %p.commit_dash= "Latest Commit"
  .bottom
#sidebar
  %h1 Sidebar
