.banner_wrap
  .heading
    %h1 edit account
  .banner
    .form_table
      - form_for @user, :url => account_path do |f|
        = f.error_messages
        %table
          %tbody
            = render :partial => "form", :object => f
            %tr
              %td
                = f.submit "Update", :class => "button2"
                or
                = link_to "Cancel", account_path
.bottom