#header_wrap
  #header
    %ul
      %li= make_selected_link('Dashboard', repositories_path)
      %li= make_selected_link('Account', account_path)
      %li= make_selected_link("Logout", logout_path)
