// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
@import partials/autocomplete.sass
@import partials/repo_manage.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
form.bp
  +blueprint-form

// Page layout can be done using mixins applied to your semantic classes and IDs:
html
  :height 100%
body
  :font-family "Helvetica Neue"
  :font-size medium
  #container
    +container
    :padding 1em 0
  #header
    :height 80px
    :background #DEDEDE
  #footer
    :background #DEDEDE
  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    !sidebar_columns = floor(!blueprint_grid_columns / 3)
    +column(!sidebar_columns)
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    !content_columns = ceil(2 * !blueprint_grid_columns / 3)
    // true means it's the last column in the row
    +column(!content_columns, true)
    
  // Form fields
  //========================================
  .form
    table
      :border 10px solid #999
      :margin-top 1em
      :padding 1em
    td
      :padding .3em
      input
        :font-size 115%
      input[type="text"], input[type="password"], input[type="select"]
        :padding .1em
        :width 300px
  
  // Error handling
  //========================================
  #errorExplanation
    :border 1px solid #999
    :padding .5em
    