// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
@import partials/autocomplete.sass
@import partials/repo_manage.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
form.bp
  +blueprint-form

// Page layout can be done using mixins applied to your semantic classes and IDs:
html
  :height 100%
body
  :font-family "Arial"
  :font-size medium
  h1
    :font-size 110%
    :font-weight bold
  a
    :color #21759B
    :text-decoration none
  #container
    +container
    :padding 1em 0
  #header_wrap
    :height 80px
    :background #F1F1F1
    #header
      :width 970px
      :text-align right
      ul
        :padding-top 53px
        li
          :display inline
          :margin-right 12px
          a
            :font-size 90%
            :padding 8px 5px
            :-moz-border-radius-topleft 3px
            :-moz-border-radius-topright 3px
            &:hover
              :color #F1831E
          .active
            :color #555555
            :background #fff
  #footer
    :background #DEDEDE
  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    !sidebar_columns = floor(!blueprint_grid_columns / 3)
    +column(!sidebar_columns)
  #content
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    !content_columns = ceil(2 * !blueprint_grid_columns / 3)
    // true means it's the last column in the row
    +column(!content_columns, true)
  #splash_outer
    :margin 0 auto
    :padding 100px 0px 100px
    :width 580px
    #splash_inner
      table
        :background #fff
        :padding 20px
        :border 2px solid #CCC
        td
          :padding 10px 10px 10px 10px
          label
            :font-weight bold
          input[type="text"], input[type="password"]
            :font-size 120%
            :width 200px
    